<a href="https://colab.research.google.com/github/laurensmith17/IST210-project-decided-idea/blob/master/Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
connectionToDatabase = sqlite3.connect('AmusementPark')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''create table IF NOT EXISTS FoodConcessions (foodStandID INTEGER PRIMARY KEY, workerID integer, profit real, foodType text, quantity integer, dateAndTime text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into FoodConcessions values (3, 2, 10.50, 'salad', 3, '10/28/19, 13:02' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Customers (customerID integer PRIMARY KEY, dateTime text, ticketsBought integer, firstName text, lastName text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Customers values (27, '9/17/19 14:34', 2, 'Lauren', 'Smith' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS sectionsOfPark (sectionID integer PRIMARY KEY, rideID real, foodStandID real, theme text, area text, capacity integer)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into sectionsOfPark values (4, 3, 6, 'children', 'childrens area', 300 );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Rides (rideID integer PRIMARY KEY, lengthOfLine text, workerID integer, type text, customerID integer, dateTime text)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Rides values (15, '45 mins', 5, 'Roller Coaster', 7, '8/24/19 15:47' );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''create table IF NOT EXISTS Worker (workerID integer PRIMARY KEY, firstName text, lastName text, wage real, hoursWorked real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Worker values (6, 'Zachary', 'Shoemaker', 10.25, 35 );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Worker values (10, 'Kenya', 'Shoemaker', 15, 28 );''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Worker values (11, 'Oliver', 'Smith', 20.75, 35 );''')
connectionToDatabase.commit()

Which three workers have the highest salaries?
This question is important because the people being paid the most should have been employed by the Amusement park for a long length of time or should be very good workers. It is also important to look at this to be sure that those at the top are deserving of their high salary.

In [28]:
cursor.execute('''select * from Worker ORDER BY Wage DESC limit 3;''')
for row in cursor.fetchall():
  print (row)

(11, 'Oliver', 'Smith', 20.75, 35.0)
(7, 'Vinton', 'Smith', 15.0, 28.0)
(8, 'Vinton', 'Smith', 15.0, 28.0)

What are the distinct wages of all of the workers?
This question is important because in a real amusement park, it is important for the employers to know what everyone is being paid. It is crucial to look at the spread and to see the pay wage differences in order to make sure that people are being fairly compensated for their work.

In [31]:
cursor.execute('''select distinct(Wage) from Worker;''')
for row in cursor.fetchall():
  print (row)

(10.25,)
(15.0,)
(20.75,)

How many workers are there?
This question is arguably the most important because it is absolutely crucial to know how many people are employed by you (for many reasons)! Some of those reasons are for the sake of filing taxes, creating a schedule, and more. In addition, the number is important because the employer knows how many employees he needs.

In [32]:
cursor.execute('''select count(*) from Worker''')
for row in cursor.fetchall():
  print (row)

(7,)